div{
     background-color: rgb(255, 0, 0);padding: 20px;border: 20px solid;
     margin-bottom: 20px;
}
h2 {background-color: aqua;margin-bottom: 10px;border: 10px black;
  border-radius: 20px;box-shadow: 10px 10px 10px rgb(62, 12, 213);

}
ol{
    background-color: blueviolet;border: 20px salmon;border-radius: 10px;
}